body.login { 
	background-image: url('assets/img/bg-poster.jpg'); 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-position: center;
	background-size: cover;
}
.login h1 a {
	background-image: url('assets/img/logo-onpiece.svg');
	width: 310px;
	height: 170px;
	background-size: 100%;
}