@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

$borderwidth : 5px;
body {
	
	padding: $borderwidth;
	font-family: 'Heebo', sans-serif;
	font-size: 1.250vw;
	font-weight: 500;

	&.noscroll {
		overflow-x: hidden;
		overflow-y: hidden;
	}

	&.loaded {
		.preload {
			display: none;
			visibility: hidden;
		}
	}

	&.animate {
		#luffy {
			animation-name: opacityon;
			animation-fill-mode: forwards;
			animation-duration: 500ms;
			animation-delay: 300ms;
		}
		#zoro {
			animation-name: opacityon;
			animation-fill-mode: forwards;
			animation-duration: 500ms;
			animation-delay: 600ms;
		}
		#nami {
			animation-name: opacityon;
			animation-fill-mode: forwards;
			animation-duration: 500ms;
			animation-delay: 900ms;
		}
	}
	@keyframes opacityon {
  		from {opacity: 0;}
  		to {opacity:1;}
	}

	&.home {
		background: url("../img/carte-onepiece.jpg");
		background-size: 100%;
		
		/* illustration */
		#luffy {
			opacity: 0;
			width: 47.604vw;
			left: -12vw;
			top:10px;
			img {
				max-width: 914px;
			}
		}
		#nami {
			opacity: 0;
			width: 16.979vw;
			right: 15vw;
			top: 7.604vw;
			img {
				max-width: 326px;
			}
		}
		#zoro {
			opacity: 0;
			width: 29.115vw;
			right: 0vw;
			top:2.4vw;
			img {
				max-width: 559px;
			}
		}
	}
	#box-inscription {
		margin-bottom: 3vw;
		margin-top: 3vw;
		.text-center {
			position: relative;
			width:  39.844vw;
			max-width: 765px;
			background-color: $white;
			padding: 2vw 0;
			border: 1px solid $black;
			border-radius: 1vw;
		}
		.content {
			p {
				margin: 0;
			}
		}
		
	}
}
#logo {
	width: 16.146vw;
	height: auto;
	max-width: 310px;
}
#logo-25 {
	width: 9.375vw;
	height: auto;
	max-width: 180px;
}
.illustration {
	position: absolute;
	z-index: 2;
	img {
		width: 100%;
	}
}
.bordered {
	position: fixed;
	border: $borderwidth solid $black;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 4;
	&.top {
		top: 0;
		left: 0;
		right: 0;
	}
	&.right {
		top: 0;
		right: 0;
		bottom: 0;
	}
	&.bottom {
		bottom: 0;
		left: 0;
		right: 0;
	}
	&.left {
		left: 0;
		top: 0;
		bottom: 0;
	}
}

#compte {
	div {
		margin: 5px;
		padding: 0 25px;
		width: 9.375vw;
		height: 9.375vw;
		line-height: 9.375vw;
		background: url("../img/compteur.svg");
		background-size: 100%;
		text-align: center;
		color: $white;
		font-size: 0.781vw;
		p {
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
		}	
		span {
			font-size: 2.813vw;
			letter-spacing: 0px;
			display: block;
			line-height: 0.8;
		}
		i {
			font-style: normal;
			display: block;
		}
	}
}

b, strong {
	font-weight: 700;
}

/* NL */

.pave-nl {
	width: 22.917vw;
	max-width: 440px;
	margin: auto;
	
	form {
		position: relative;
		.form-control {
			width: 100%;
			height: 3.750vw;
			line-height: 3.750vw;
			border: 1px solid #FFFFFF;
			background: transparent;
			border-radius: 2vw;
			padding-left: 1.5vw;
			padding-right: 9vw;
			color: $white;
			font-size: 1.042vw;
			&::placeholder {
				color: $white;
			}
		}
		.btn {
			position: absolute;
			background: white;
			color: black;
			top: 50%;
			right: 0.7vw;
			transform: translateY(-50%);
			&:hover {
				background-color: $primary;
				color: $white;
			}
		}
	}
}

.tooltip-content {
	background: #fff;
	color: #121212;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-50%,30px);
	right: 0;
	display: none;
	line-height: 1.5;
	z-index: 5;
	padding: 1vw;
	width: 18.229vw;
	max-width: 350px;
	&:before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #fff transparent;
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -10px;
	}
	p {
		margin: 0;
	}
}

/* FONT STYLE */
.fs14 {
	font-size: 0.729vw;
	line-height: 1.1;
	font-weight: 400;
}
.fs16 {
	font-size: 0.833vw;
	line-height: 1.1;
	font-weight: 400;
}
.fs18 {
	font-size: 0.938vw;
	line-height: 1.2;
	font-weight: 400;
}
.fs20 {
	font-size: 1.042vw;
	line-height: 1.2;
	font-weight: 400;
}
.fs24 {
	font-size: 1.250vw;
	line-height: 1.3;
}
.fs27 {
	font-size: 1.406vw;
	line-height: 1.35;
}
.fs30 {
	font-size: 1.563vw;
	line-height: 1.5;
}

/* MARGIN */
.py-50 {
	padding-top: 7vw;
	padding-bottom: 7vw;
}
.mt-3vw {
	margin-top: 3vw;
}
.mt-4vw {
	margin-top: 4vw;
}
.mt-5vw {
	margin-top: 5vw;
}
.my-1vw {
	margin-top: 1vw;
	margin-bottom: 1vw;
}
.my-2vw {
	margin-top: 2vw;
	margin-bottom: 2vw;
}
.mt-2vw {
	margin-top: 2vw;
}
.mb-1vw {
	margin-bottom: 1vw;
}
.mb-3vw {
	margin-bottom: 3vw;
}

/* boutton */
.btn {
	height: 2.604vw;
	line-height: 2.604vw;
	font-size: 0.938vw;
	border-radius: 2vw;
	padding: 0 1vw;
	text-transform: uppercase;
}
.btn-primary {
	color: $white;
	&:hover {
		background: $black;
		color: $white;
	}
}

.libraire {
	position: absolute;
	top: 2vw;
	right: 3vw;
	z-index: 2;
	width: 10.938vw;
	max-width: 210px;
	padding: 1vw 1vw 0 1vw;
	background: $white;
	border-radius: 1vw;
	max-height: 3vw;
	overflow: hidden;
	transition: all 300ms linear;
	cursor: pointer;

	&.on {
		max-height: 20vw;
	}

	.question {
		padding: 1vw 1vw;
		margin: 1vw -1vw -1vw -1vw;
		background-color:$gray-200;
		border-bottom-left-radius: 1vw;
		border-bottom-right-radius: 1vw;

		a {
			display: block;
			text-align: center;
			margin-bottom: 1vw;
		}
	}
	
	p {
		text-align: center;
	}
	.btn {
		width: 100%;
		margin-top:1vw;
	}
}

.preload {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	background: blue;
	z-index: 9;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}